/* CLASS */
.height-50 {
    min-height: 50vh;
}

.height-60 {
    min-height: 60vh;
}

.height-80 {
    min-height: 80vh;
}

.higo-banner-bg {
    background-image: url("../media/images/higo-banner-comp.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.higo-bg {
    background: #8e44ad;
}

.higo-gradient-bg {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8e44ad+0,683280+100 */
    background: #8e44ad; /* Old browsers */
    background: -moz-linear-gradient(top, #8e44ad 0%, #683280 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #8e44ad 0%, #683280 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #8e44ad 0%, #683280 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8e44ad', endColorstr='#683280', GradientType=0); /* IE6-9 */
}

.large-font-size {
    font-size: -webkit-xxx-large;
}

.margin-top-1 {
    margin-top: 1rem !important;
}

.margin-top-2 {
    margin-top: 2rem !important;
}

.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
    background-color: #fafafa;
    color: #4a4a4a;
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #4a4a4a;
    margin-top: -.375em;
    right: 1.125em;
}

.padding-2 {
    padding: 2rem;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.tabs li.is-active a {
    border-bottom-color: #8e44ad;
    color: #8e44ad;
}

/* ELEMENTS */
a.navbar-item-logo.is-active, a.navbar-item-logo:focus, a.navbar-item-logo:focus-within, a.navbar-item-logo:hover {
    color: #4a4a4a;
}